.service{
    padding: 60px 0 65px 0;
 }
 
    .service h1{
        text-align: center;
    }

    .box-service{
        position: relative;
        text-align: center;
        width: 100%;
    }
 
        .box-service h2{
            text-align: center;
            font-weight: bold;
            font-size: 23px;
            margin-bottom: 26px;
        }

        .box-service p{
            color: #666;
            font-size: 14px;
            font-weight: 300;
            width: 80%;
            margin: auto;
            line-height: 1.5;
        }

         .service img{
            padding: 60px;
        }

        .service .fas{
            color: #44BEF1;
            font-size: 35px;
            padding: 60px;
        }

        .icon-decoration-border:before,
        .icon-decoration-border:after, 
        .icon-decoration-border-inner:before, 
        .icon-decoration-border-inner:after{
            content: '';
            position: absolute;
            width: 17px;
            height: 17px;
            background-image: url(../images/decoration-border\ \(1\).png);
            transition: .23s all ease;
        }

        .icon-decoration-border:before{
            top: 43px;
            left: 80px;
        }

        .icon-decoration-border-inner:before{
            transform: rotate(270deg);
            top: 104px;
            left: 80px;
        }

        .icon-decoration-border:after{
            transform: rotate(90deg);
            top: 43px;
            left: 150px;
        }

        .icon-decoration-border-inner:after{
            transform: rotate(180deg);
            top: 104px;
            left: 150px;
        }

        .service .columns .column:hover{
            /*border: 1px solid #E7E7E9;*/
            box-shadow: 0px 0px 5px 0px rgba(224,215,224,1);
            border-radius: 4px;
        }

        .service .columns .column{
            margin: 0 15px;
        }

        .box-service:hover .icon-decoration-border:before{
            top: 48px;
            left: 85px;
        }

        .box-service:hover .icon-decoration-border-inner:before{
            top: 95px;
            left: 85px;
        }

        .box-service:hover .icon-decoration-border:after{
            top: 48px;
            left: 145px;
        }

        .box-service:hover .icon-decoration-border-inner:after{
            top: 95px;
            left: 145px;
        }

.what-we-do{   
    background-image: url(../images/bg-image-2.jpg);
    padding: 80px 0px 65px 0;
    background-size: cover;
    background-repeat: no-repeat;
    height: 220px;
}

    .container-what-we-do{
        color: #ffffff;
    }

    .element{
        vertical-align: middle;
        height: 100%;
    }

        .title{
            margin-left: 40px;
            font-size: 45px;
            color:#fff;
            vertical-align: middle;
        }

        .line{
            font-size: 36px;
            margin: 0 15px;
            vertical-align: middle;
        }

        .information-span{
            margin-right:25px;
            vertical-align: middle;
            font-size: 20px;
        }

        .element .btn-blue{
            vertical-align: middle;
            border-radius: 5px;
            width: 100%;
            background: #24a3d8;
            border: 2px solid#24a3d8;
            font-size: 16px;
            margin-right: 0px;
        }
        
.about-us{
    text-align: center;
    margin-top: 55px;
    font-weight: bold;
    margin-bottom: 90px;
}

.about-us .column{
    width: 50%;
}

.about-us .column:first-of-type{
    padding: 0 40px;
    padding-right: 100px;
}

    .about-us h1{
       
        font-size: 45px;
        font-weight: bold;
        margin-bottom: 60px;
        position: relative;
        display: inline-block;
        width: 30%; 
        vertical-align: top;
        padding: 15px 0;
        font-weight: bold;
    }

    .about-us h1 span::before{
        content: '';
        width: 18%;
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        margin: auto;
        border-bottom: 4px solid #24A3D8;
        
        
        /*display: inline-block;
        content: "";
        position: absolute;
        border-bottom: 4px solid #24A3D8;
        width: 15%;
        top: 70px;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;*/
    }

    .fa-minus{
        color: #24A3D8;
        font-size: 18px;
        margin: auto;
        margin-bottom: 40px;
    }

    /*table{
        border-collapse: collapse;
        border-spacing: 0;
        margin-bottom: 30px;
    }

        .buttons table th{
            padding: 20px 50px;
            border-collapse: collapse;
        }

        .buttons table th:hover{
            background: #24A3D8;
            
        }

            .activeBtn{
                background: #24A3D8;  
            }
           
                .activeBtn a{
                    color: #ffffff;
                    font-weight: 100;    
                }

            table th a{
                text-decoration: none;
                color: #686868;
                font-size: 20px;
                font-weight: 100;
            }


        .info-button p{
            margin-bottom: 30px;
            color: #A4A4A4;
            text-align: justify;
            font-weight: 100;
            line-height: 1.5;
        }

        .info-button table th{
            border: none;
            color: #323946;
            padding: 0px 35px 0 35px;
            border-right: 1px solid #E8E8E8;
        }

        .info-button .last-th{
            border: none;
        }

        .grey-words th{
            color: #A4A4A4;
            font-weight: 100;
        }*/

        .rol-number{
            border-right: 0.5px solid #e1e1e1;
            padding-right: 40px;
        }

        .rol-number:last-child{
            border-right: none;
        }

        .rol-number:first-child{
            margin-left: 20px;
        }

            .rol-number > .blue-number{
                font-size: 58px; 
                color: #8ACBE6; 
                font-weight: bold;
            }

            .rol-number div:last-of-type{
                font-weight: 300;

            }

    .right-info h2{
        margin-bottom: 30px;
        font-weight: bold;
        font-size: 24px;
        text-align: left;
    }

    .right-info p{
        text-align: justify;
        margin-bottom: 50px;
        width: 80%;
        font-weight: 300;
        line-height: 1.7;
    }

    .read-more{
        border: 1px solid #60B8DE;
        padding: 12px 30px;
        color: #60B8DE;  
        text-decoration: none;
        border-radius: 5px;
        float: left;
        font-size: 18px;
    }

    .read-more:hover{
        color: #fff;
        background: #60B8DE;
    }



/*.testimonials .row .col{
    flex: 1;
}

.calculator{
    color: #828282;
}

.calculator span{
    position: relative;
    display: inline-block;
    vertical-align: top;
    padding: 2px 0;
}*/

.calculator span::before{
    content: '';
    width: 15%;
    position: absolute;
    left: 5%;
    right: 0;
    top: 14%;
    border-bottom: 4px solid #24A3D8;

}

/*.calculator .container{
     background-image: url(../images/home-2-552x654.png);
    background-repeat: no-repeat;
    background-position: center right; 
}

figure::before{
    content: "";
    position: relative;
    background: #f2f2f5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}*/

.calculator{
    margin-bottom: 90px;
}

    figure img{
       /* position: absolute;*/
        height: 100%;
        width: 100%;
    }

    figure{
        position: relative;
        z-index: 0;
        height: 90%;
    }


    figure::before{
        content: '';
        position: absolute;
        top: 80px;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 200vw;
        z-index: -1;
        background: #f2f2f5;
    }

   /* form{
        position: absolute;
        width:50%;
         z-index: 2;
        box-shadow: 0px 0px 5px 0px rgba(244,244,244,1);
        background: #ffff;
    }*/

    form{
        position: relative;
        z-index: 3;
        background: #fff;
        padding: 30px 30px 50px 30px;
        box-shadow: 0 0 4px 2px rgba(174,174,174,.2);
    }

        .calculator h1{
            font-size: 45px;
            margin-bottom: 40px;
        }

        .calculator .border-bottom{
            margin: 0;
            margin-bottom: 50px;
        }

            .form-field{
                padding-bottom: 20px;
            }

            .form-field label{
                font-weight: 300;
            }

                .form-label{
                    padding-top: 20px;
                }
                
                .calculator input{
                    padding: 15px;
                    margin: 10px 0;
                    width: 100%;
                }

                input{
                    background: #F4F7F9;
                    border: none;
                    width: 75%;
                    padding: 10px;
                    border-radius: 5px 0 0 5px;
                }

                .last-form-fild{
                    margin-top: 38px;
                }

                .total{
                    border-bottom: 2px solid #24A3D8;
                }

    /*.calculator img{
        float: right;
    }*/

    .calculator .container{
        display: flex;
    }

.testimonials{
    margin-bottom: 30px;
}

    .testimonials{
        margin-bottom: 50px;
    }

        .testimonials h1{
            font-weight: bold;
        }

        .testimonials h1 span{
            text-align: center;
            font-size: 45px;
            margin-bottom: 80px;
            display: inline-block;
            width: 100%;
            position: relative;
            vertical-align: top;
            padding: 1px 0;
        }

        .testimonials h1 span::before{
            content: '';
            width: 7%;
            position: absolute;
            left: 0;
            right: 0;
            top: 100%;
            margin: auto;
            border-bottom: 4px solid #24A3D8;
        }

    .holder-opinion{
        /*border: 1px solid #F2F2F2;*/
        border: 1px solid #ebebeb;
        box-shadow:0 0 6px 3px rgba(174,174,174,.05);
        padding: 25px 15px 15px 15px;
        border-radius: 7px;
    }

        .holder-opinion p{
            text-align: center;
            font-weight: 300;
            line-height: 1.4;
            width: 90%;
            margin: auto; 
            margin-bottom: 25px;
            font-style: italic;
        }

        .holder-opinion h3{
            font-size: 16px;
            text-align: center;
            margin-bottom: 15px;
            font-weight: bold;
        }

    	    .image{
                text-align: center;
                margin-bottom: 15px;
            }

            .image image{
                margin: 0 8px 0 8px;
            }            

            .image img{
                border-radius: 50%;   
                width: 30%;
                margin: auto;
            }

            .image::before,
            .image::after{
                content: ' ';
                width: 50px;
                border-bottom: 2px solid #EBEBEB;
                display: inline-block;
                position: relative;  
            }

            .image::before{ 
                left: -80px;
                top: 45px;
            }

            .image::after{
                top: -50px;
                left: 80px;
            }

.logos{
    width: 100%;
    background: #F9F9F9;
    padding: 60px 0;
    max-height: 100%;
}

.tabs{
    white-space: inherit;
}

.tabs{
    display: block;
    width: 100%;
}

    .tabs-nav{
        display: flex;
        width: 100%;
        margin-bottom: 20px;
    }

        .tabs-nav li{
            flex: 1;
        }

            .tabs-nav a{
                display: block;
                padding: 1.2em 1em;
                border: 0.5px solid #e1e1e1;
                font-size: 20px;
                font-weight: 300;
            }

            .tabs-nav a:not(:first-child) {
                margin-left: -4px;
              }

            .tabs-nav a.active,
            .tabs-nav a:hover{
                background: #24A3D8;
                border-bottom: none;
                color: #fff;
                border-left: none;
                border-right: none;
            }

.info-about-us{
    font-size: 14px;
    font-weight: 300;
    text-align: justify;
    margin-bottom: 30px;
    line-height: 1.5;
}

.tabs-content{
    display: block;
}

.tabs-content .tab{
    display: none;
}

.tabs-content .tab.active{
   display: block;
}

.rows-info{
display: flex;
justify-content: space-around;
}

.swiper-button-prev,
.swiper-button-next{
    background-image: none;
    background: rgba(99,117,149,.39);
    color: #fff;
}

.swiper-button-prev{
    left: 0;
    width: 45px;
    height: 45px;
}

.swiper-button-prev::before{
    font-family: "Font Awesome 5 Pro";
    content: "\f053";
    font-weight: 600;
    font-size: 30px;
    line-height: 45px;
    display: block;
    text-align: center;
}

.swiper-button-next{
    right: 0;
    width: 45px;
    height: 45px;
}

.swiper-button-next::before{
    font-family: "Font Awesome 5 Pro";
    content: "\f054";
    font-weight: 600;
    font-size: 30px;
    line-height: 45px;
    display: block;
    text-align: center;
}