.page-header{
    padding-bottom: 0;
}

.top-header-nav{
        position: relative;
        /*overflow: hidden;*/
    }

    .top-header-nav .mobile-menu{
        float: right;
    }

    @media only screen and (max-width: 1024px) {
        .top-holder{
            position: absolute;
            left: -100%;
            top: 100%;
            z-index:15;
            width: 80%;
            /*max-width: 800px;*/
            transition: left .3s ease-in;
            
        }
        .top-holder.active{
            left: 0;
            top: 58px;
            background: #fff;
            width: 100%;
        }

        .page-header .is-9 {
            display: none;
        }

    }

    .top-header{
        background: #F2F2F5;
        padding: 15px 0px;
        width: 100%;
    }

        .page-header p{
            line-height: 24px;
            color: #666;
            font-weight: 300;
        }
        .social-links{
            font-size: 20px;
            line-height: 20px;
            color: #C0C0C0;
            float:right;
        }
        
        @media only screen and (max-width: 1024px) {    
        .social-links{
            float: none;
            text-align: center;
            
        }
        }

        .social-links ul li{
            display: inline-block;
        }

            .social-links a{
                text-decoration: none;
                margin: 0 0 0 5px;
                display: inline-block;
                vertical-align: top;
                border-radius: 50%;
                background: #d9d9d9;
                color:#333;
                width: 27px;
                height: 27px;
                line-height: 27px;
            }

        .fa-facebook-f,
        .fa-twitter,
        .fa-google-plus-g{
            font-size: 14px;
            font-weight: 400;
            display: block;
            text-align: center;
            line-height: 27px;
        } 

        .fa-facebook-f::before,
        .fa-twitter::before,
        .fa-google-plus-g::before{
            vertical-align: middle;
            line-height: 27px;
        }
        
        .mobile-menu{
            display: none;
        }

.middle-header{
    padding: 25px 0px;
}

    .brand{
        font-size: 36px;
        color: #24A3D8;
        font-weight: normal;
    }

        .brand span{
            font-size: 36px;
            color: #000;
        }
            .brand span:first-child {
                margin:  0 0 0 5px;
            }

            .brand span:last-child {
                margin:  0 5px 0 -15px;
            }

        .brand strong{
            font-weight: bold;
        }

        .brand .expert{
            font-weight:100;
            color: #000;  
        }
      
.location-box{
    position: relative;
    padding-left: 50px;
    float: right;
}
    
    .location-box > div{
        font-size: 16px;
    }
    
    .grey{
        color: #000;
        font-weight: 300;
    }
    
        .location-box a{
            font-size: 16px;
            display: block;
            text-decoration: none;
            color: #000;
        }

        .location-box a:hover{
            color:  #24A3D8;
        }

.location-box::before{
    content: " ";
    width: 40px;
    height: 40px;
    left: 0;
    top: 0;
    position: absolute;
    background-repeat: no-repeat;
    background-size: auto;  
    background-position: center;
}
    
    .location-box.first-image::before{
        background-image: url(../images/icon-clock-32x32.png);
    }
    
    .location-box.second-image::before{
        background-image: url(../images/icon-map-marker-25x33.png);
    }
    
    .third-image::before{
        background-image: url(../images/icon-phone-28x29.png);
    }
        .bold{
            font-weight: 700;
        }

.nav-bar{
        position: relative;
        z-index: 10;
}

.navigation{
    background: #323946;
    color: #ffffff;
    position: absolute;
    width: 100%; 
}

.nav-bar > .mobile-menu{
    float: left;
}

@media only screen and (max-width: 1024px) {
    .mobile-menu{
        display: inline-block;
    }

    .navigation{  
        /*position: fixed;*/
        left: -100%;
        top: 100%;
        width: 270px;
        /*max-width: 800px;*/
        transition: left .3s ease-in;
        top: 58px;
        background: #fff;
    }

    .navigation.open{
        left: 0;
        
    }
 }

.button{
        color: #fff;
        background: #323946;
        border: none;
}


button.button span a{
    color: #fff;
    background: #323946;
    border: none;
}

button.button span a:hover{
    color: #24A3D8;
}

    .button.home{
        color: #24A3D8;
    }

    .dropdown:hover .button,
    .dropdown-menu:hover .button,
    .button:hover{
        background: #323946;
        color: #24A3D8;
    }
    
    .button span:first-of-type{
        font-weight: bold;
    }
    
    @media only screen and (max-width: 1024px) {
        .button span:first-of-type{
            color: #24A3D8;
            background: #fff;
            width:210px;
           padding-right: 72%;
        }

        button.button span a {
            color: #24A3D8;
            background: #fff;
        }

        .button{
            background: #fff;
        }

        /*.button:hover,
        .dropdown-trigger .button span:hover,
        .dropdown a:hover{
            background: #24A3D8; 
            color: #fff;
           
        }*/

        .dropdown:hover .button,
        .dropdown span:hover,
        .button:hover .fa-angle-down,
        .button:hover a:hover{
            background:#24A3D8 ;
            color: #fff; 
            border: none;
            text-decoration: none;
        }

    }

    .is-small{
        transition: all 1s;
    }

    @media only screen and (max-width: 1024px) {
        .middle-header{
            /*padding-top: 30px;*/
            width: 100%;
            height: 130px;
        }

        .middle-header .is-5{
            display: none;
        }
    }


    .dropdown:hover .is-small,
    .dropdown-menu:hover .is-small{  
        transform: rotate(180deg);
    } 

    .dropdown{
        vertical-align: middle;
        padding-top: 10px;
        /*padding-left: 0;*/
    }

    .fa-angle-down{
        color: #24A3D8;
    }
    
    .middle-header .container .is-6{
        text-align: left;
    }

        .is-6{
            text-align: right;
        }

            .fa-search{
                padding: 12px;
                font-size: 23px;
                text-align: right;
                padding-top: 18px;
            }

            .navigation form{
                display: none;
            }

        @media only screen and (max-width: 1024px) {
            .is-6{
                width: 90%;
                text-align: left;
            }

            .navigation form{
                display: block;
                padding: 5px 0px 5px 0px;
                position: relative;
                width: 270px;
            }

            .navigation .fa-search{
                position: absolute;
                top: 83%;
                left: 73%;
                color: #000;
                text-align: 50%;
                z-index: 5;
            }

            .dropdown-menu .dropdown-content{
                display: none;
            }

            .dropdown:hover .is-small,
            .dropdown-menu:hover .is-small,
            .fa-angle-down::before:hover{  
                color: #fff;

            } 
        }

           


