.page-header{
    padding-bottom: 0;
}
    .top-header{
        background: #F2F2F5;
        padding: 15px 0px;
        width: 100%;
    }
        .page-header p{
            line-height: 20px;
            color: #A0A0A1;
        }
        .social-links{
            font-size: 20px;
            line-height: 20px;
            color: #C0C0C0;
            float:right;
        }

            .social-links a{
                text-decoration: none;
                margin: 0 0 0 5px;
                display: inline-block;
                vertical-align: top;
                border-radius: 50%;
                background: #d9d9d9;
            }

        .fa-facebook-f,
        .fa-twitter,
        .fa-google-plus-g{
            border-radius: 50%;
            background: #d9d9d9;
            color:#333;
            font-size: 14px;
            width: 25px;
            text-align: center;
            font-weight: 400;
            height: 100%;

        } 
            
.middle-header{
    padding: 25px 0px;
}

    .brand{
        font-size: 36px;
        color: #24A3D8;
        font-weight: normal;
    }

        .brand span{
            font-size: 36px;
            color: #000;
        }
            .brand span:first-child {
                margin:  0 0 0 5px;
            }

            .brand span:last-child {
                margin:  0 5px 0 -15px;
            }

        .brand strong{
            font-weight: bold;
        }

        .brand .expert{
            font-weight:100;
            color: #000;  
        }
      
.location-box{
    position: relative;
    padding-left: 50px;
    float: right;
}
    
    .location-box > div{
        font-size: 16px;
    }
    
    .grey{
        color: #9D9D9F;
    }
    
        .location-box a{
            font-size: 16px;
            display: block;
            text-decoration: none;
            color: #000;
        }

        .location-box a:hover{
            color:  #24A3D8;
        }

.location-box::before{
    content: " ";
    width: 40px;
    height: 40px;
    left: 0;
    top: 0;
    position: absolute;
    background-repeat: no-repeat;
    background-size: auto;  
    background-position: center;
}
    
    .location-box.first-image::before{
        background-image: url(../images/icon-clock-32x32.png);
    }
    
    .location-box.second-image::before{
        background-image: url(../images/icon-map-marker-25x33.png);
    }
    
    .third-image::before{
        background-image: url(../images/icon-phone-28x29.png);
    }
        .bold{
            font-weight: bold;
        }

.navigation{
    background: #323946;
    color: #ffffff;
}

.button{
        color: #fff;
        background: #323946;
        border: none;
    }

    .button.home{
        color: #24A3D8;
    }

    .dropdown:hover .button,
    .dropdown-menu:hover .button,
    .button:hover{
        background: #323946;
        color: #24A3D8;
    }
    
    .button span:first-of-type{
        font-weight: bold;
    }
    
    .is-small{
        transition: all 1s;
    }

    .dropdown:hover .is-small,
    .dropdown-menu:hover .is-small{  
        transform: rotate(180deg);
    } 

    .dropdown{
        vertical-align: middle;
        padding-top: 10px;
        /*padding-left: 0;*/
    }

    .fa-angle-down{
        color: #24A3D8;
    }

    /*.fa-angle-down:hover{
        transform: rotate(180deg);
    }*/

    /*.dropdown-menu{
       
        top: 108%;
        left: -20px;
    }  */
    
    .middle-header .container .is-5{
        text-align: left;
    }

        .is-5{
            text-align: right;
        }
           .fa-search{
                padding: 12px;
                font-size: 23px;
                text-align: right;
                padding-top: 18px;
            }