*{
    box-sizing: border-box;
    margin: 0;
}

main{
    max-height: 100%;
    flex: 1;
}

body{   
    font-family: 'Roboto', sans-serif;
    color: #000;
    font-size: 15px;
    line-height: normal;
    min-height:100vh;
}

a{
    text-decoration: none;
}

.wrapper{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.container{
    max-width: 1175px;
    /*max-width: 1200px;*/
    margin: auto;
}

.swiper-container{
    position: relative;
    height: 100%;
}


/*.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}*/

/*.service .row .col{
    margin-right: 2%;
    flex: 1;
}*/

/*.service .row .col:last-of-type{
    margin: 0;  
}*/

/*.box-item{
flex: 1;
}*/

/*.location{
    display: flex;
    width: 75%;
    margin-left: 10%;
}*/ 



/*.service .row,
.about-us .row,
.calculator .row,
.testimonials .row
{
    flex-wrap: nowrap;
}*/

/*.testimonials .row .col{
    margin-right: 35px;
}*/

/*.about-us .row .col{
    margin-right: 3%;
    flex: 1;
}*/

/*.about-us .row .col:last-of-type{
    margin-right: 0;
}*/



/*.service .row .col:nth-last-of-type(){
    margin-right: 0;
}*/



/*footer .row .col{
    flex: 1;
    padding: 0 25px 0 0;
}*/



  /*.phone::before{
   content: url(../images/icon-phone-28x29.png);
    background-repeat: no-repeat;
    width: 15px;
}*/





