*{
    box-sizing: border-box;
    margin: 0;
}

body{   
    font-family: 'Roboto', sans-serif;
    color: #000;
    font-size: 16px;
}

.wrapper{
    width: 100%;
}
.page-content{
    max-width: 1024px;
    margin: auto;
}

.top-header{
    background: #F2F2F5;
    padding: 15px 0px;
    width: 100%;;
}

/*.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}*/

/*.service .row .col{
    margin-right: 2%;
    flex: 1;
}*/

/*.service .row .col:last-of-type{
    margin: 0;  
}*/

/*.box-item{
flex: 1;
}*/

.logo{
    padding-top: 30px;
}

.logo a{
    text-decoration: none;
    color: #000;
}

/*.container{
    margin: auto;
}*/

.container a{
    text-decoration: none;
}

.social-links{
    font-size: 20px;
    color: #C0C0C0;
}

.social-links a{
    text-decoration: none;
    color: #686868;
}

.fa-facebook:hover,
.fa-twitter-square:hover,
.fa-google-plus:hover
{
    color:#ffff;
} 

.fa-search{
    padding: 12px;
    font-size: 23px;
    text-align: right;
}

.header p{
    display: inline;
}

.middle-header{
    margin-bottom: 30px;
}

.fin{
    font-weight: bold;
}

.fin,
.expert{
    font-size: 36px;
}

.fin::before,
.expert::after{
    color: #24A3D8;
    font-size: 36px;
}

.fin::before{
    content: "[";
    margin-right: 5px;    
    font-weight: 100;
}

.expert::after{
    content: "]";
    margin-left: 5px;
}

/*.location{
    display: flex;
    width: 75%;
    margin-left: 10%;
}*/



.location-info div{
    margin-left: 40px;
}

.first-image::before{
    content: url(../images/icon-clock-32x32.png);
    background-repeat: no-repeat;
    
}

.second-image::before{
    content: url(../images/icon-map-marker-25x33.png);
    background-repeat: no-repeat;
}

.third-image::before{
    content: url(../images/icon-phone-28x29.png);
    background-repeat: no-repeat;
}

.first-image::before,
.second-image::before,
.third-image::before{
    position: relative;
    top: 40px;
}

.dropbtn {
    background-color: #323946;
    color: white;
    font-size: 16px;
    border: none;
    padding: 20px;
}
  
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    top: 60px;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover {background-color: #ddd;}
  
.dropdown:hover .dropdown-content {display: block;}
  
.home{
    padding-left: 0px;
}

nav{
    background: #323946;
    color: #ffffff;
}

.bold{
    font-weight: bold;
}

.home{
    color: #44BEF1;
}

.fa-chevron-down{
    color: #44BEF1;
}

.service{
   margin-top: 30px;
   margin-bottom: 45px;
}

/*.service .row,
.about-us .row,
.calculator .row,
.testimonials .row
{
    flex-wrap: nowrap;
}*/

/*.testimonials .row .col{
    margin-right: 35px;
}*/

/*.about-us .row .col{
    margin-right: 3%;
    flex: 1;
}*/

/*.about-us .row .col:last-of-type{
    margin-right: 0;
}*/

.service h1{
    text-align: center;
}

.service .fas{
    color: #44BEF1;
    font-size: 35px;
    padding: 20px;
}

/*.service .row .col:nth-last-of-type(){
    margin-right: 0;
}*/

.service img{
    padding: 20px;
}

.box-service{
    text-align: center;
}

.box-service h2{
    text-align: center;
}

.what-we-do{   
    position: relative; 
}

.what-we-do img{
    height: 180px;
    width: 100%;
}

.container-what-we-do{
    position: absolute;
    top: 45%;
    color: #ffffff;
    left: 10%;
}

.title{
    margin-left: 40px;
    font-size: 36px;
    color:#fff;
}

.line{
    font-size: 36px;
    margin: 0 15px;
}

.information-span{
    margin-right:45px;
}

.container-what-we-do p{
    font-size: 20px;
    margin-right: 8px;
}

.about-us{
    text-align: center;
    margin-top: 55px;
    font-weight: bold;
    margin-bottom: 60px;
}

.about-us h1{
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 20px;
}

.border-bottom{
    background: #24A3D8;
    height: 5px;
    width: 60px;
    margin: auto;
    margin-bottom: 40px;
}

table{
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 30px;
}

.buttons table th{
    padding: 20px 50px;
    border: 2px solid #C0C0C0;
}

table th a{
    text-decoration: none;
    color: #686868;
}

.buttons table th:hover{
    border: 2px solid #24A3D8;
    background: #24A3D8;
}

.buttons table th a:hover{
    color: #ffffff;
}

.facts{
    border: 2px solid #24A3D8;
    background: #24A3D8;  
}

.facts a{
    color: #ffffff;
}

.info-button table th{
    border: none;
    color: #323946;
    padding: 0px 35px 0 35px;
}

.info-button table th{
    border-right: 2px solid #C0C0C0;
}

.info-button p{
    margin-bottom: 30px;
    color: #686868;
}

.info-button .last-th{
    border: none;
}

.info-button .blue-number{
    font-size: 50px; 
    color: #24A3D8; 
}

.right-info h2{
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 24px;
    text-align: left;
}

.right-info p{
    color: #686868;
    text-align: justify;
    margin-bottom: 50px;
}

.read-more{
    border: 2px solid #60B8DE;
    padding: 10px 25px;
    color: #60B8DE;  
    text-decoration: none;
    border-radius: 8px;
    float: left;
}

.testimonials{
    margin-bottom: 30px;
}

/*.testimonials .row .col{
    flex: 1;
}*/

.calculator{
    margin-bottom: 60px;
    background: #F4F4F4;
    height: 654px;
    position: relative;
}

form{
    position: absolute;
    width:38%;
   /* z-index: 2;*/
    margin: auto;
    box-shadow: 0px 0px 5px 0px rgba(244,244,244,1);
    padding-top: 30px;
    margin-top: 30px;
    padding-left: 25px;
    background: #ffff;
    height: 100%;
}


.calculator h1{
    font-size: 45px;
    margin-bottom: 20px;
}

.calculator .border-bottom{
    margin: 0;
    margin-bottom: 50px;
}

.calculator img{
    float: right;
}

.calculator input{
    padding: 15px;
    margin: 10px 0;
    width: 80%;
}

input{
    background: #F4F7F9;
    border: none;
    width: 75%;
}

.total{
    border-bottom: 2px solid #24A3D8;
}

.title-testimonials{
    margin-bottom: 40px;
}

.title-testimonials h1{
    text-align: center;
    font-size: 45px;
    margin-bottom: 20px;
}

.image{
    text-align: center;
    margin-bottom: 15px;
}

.image img{
    border-radius: 50%;   
    width: 30%;
    margin: auto;
}

.holder-opinion{
    box-shadow: 0px 0px 5px 0px rgba(244,244,244,1);
    padding: 25px 15px 15px 15px;
}

.image::before,
.image::after{
    content: ' ';
    width: 50px;
    border-bottom: 2px solid #EBEBEB;
    display: inline-block;
    position: relative;  
}

.image::before{ 
    left: -80px;
    top: 45px;
}

.image::after{
    top: -68px;
    left: 80px;
}

.image image{
    margin: 0 8px 0 8px;
}

.holder-opinion h3{
    text-align: center;
    margin-bottom: 15px;
}

.holder-opinion p{
    text-align: center;
    color: #A1A1A1;
    margin-bottom: 15px;
}

.logos{
    width: 100%;
    background: #F9F9F9;
    padding: 60px 0;
}

footer{
    background: #323946;
    color:#fff;
    padding-top: 40px;
}

/*footer .row .col{
    flex: 1;
    padding: 0 25px 0 0;
}*/

.footer-box .logo{
    float: none;
    margin-bottom: 30px;
    top: 0px;
    padding-top: 0;
}

.footer-box p{
    margin-bottom: 15px;
}

.footer-box .fab{
    font-size: 25px;
    margin: 3px;
}

.fab.fa-facebook{
    margin-left: 50px;
}

.fa-minus{
    font-size: 5px;
    width: 100%;
}

.footer-box a{
    text-decoration: none;
    color: #fff;
    display: block;
    margin-bottom: 22px;
    font-size: 15px;
}

.footer-nav-box{
    display: flex;
}

  /*.phone::before{
   content: url(../images/icon-phone-28x29.png);
    background-repeat: no-repeat;
    width: 15px;
}*/

.fa-phone-alt,
.fa-envelope,
.fa-clock,
.fa-map-marker-alt{
    margin-right: 15px;
    color: #24A3D8;
    font-size: 20px;
}

.footer-box h3{
    width: 100%;
    padding-bottom: 20px;
    border-bottom: 0.5px solid #616873;
    margin-bottom: 20px;
}

.footer-box a:hover{
    color: #24A3D8;
}

.left-box a,
.right-box a{
    color: #616873;
}

input{
    padding: 10px;
    border-radius: 5px 0 0 5px;
}

button{
    float:right;
    padding: 10px 10px;
    border: none;
    color: #fff;
    background: #24A3D8;
    border-radius: 0 5px 5px 0;
}

.footer-box{
    margin-top: 0px;
}

.owner{
    background: #282E3A;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.is-3{
    text-align: right;
}