*{
    margin: 0;
    padding: 0;
}

.testimonials{
    /*max-width: 80%;
    margin: auto;
    padding: 0 15px;
    position: relative;*/
}

.testimonials-container{
    max-width: 96%;
    margin: auto;
    position: relative;
}

.img-fluid{
    max-width: 30%;
    height: 100%;
    display: block;
}

.owl-dots{
    display: none;
}

.owl-one.owl-carousel .owl-item img{
    width: 30%;
}

@media only screen and (max-width: 476px) {
    .owl-carousel .owl-item img {
        display: block;
        width: 50%;
        margin: auto;
    }
 }

 @media only screen and (max-width: 767px) {
    .owl-carousel .owl-item img {
        display: block;
        width: 80%;
    }
 }

/*.owl-next{
    position: absolute;
    top: 40%;
    right: -10%;
}*/

.owl-next span:hover,
.owl-prev span:hover{
    color: #67BFE4;
    background-color: #fff;
}

.owl-next span,
.owl-prev span{
    font-size: 40px;
    height: 20%;
}

/*.owl-prev{
    position: absolute;
    top: 40%;
    left: -10%;
}*/

.testimonials .item{
    margin-right: 20px;
    padding: 0%;
}

.testimonials .no-js .owl-carousel, .owl-carousel.owl-loaded{
    width: 100%;
    margin: auto;
}

/*.owl-two .owl-item img{
    width: 100%;
}


.owl-carousel.owl-drag .owl-item .item{
    width: 80%;
}*/
.owl-one.owl-carousel .item{
    width: 100%;
}

/*.owl-one .owl-stage-outer{
    width: 85%;
    margin: auto;
}*/

.owl-one .owl-stage-outer > .owl-stage{
    width: 85%;
    margin: auto;
}

.testimonials .item{
    width: 80%;
}

.testimonials .owl-prev{
    position: absolute;
    top: 30%;
    left: -2%;
}

.testimonials .owl-next{
    position: absolute;
    top: 30%;
    left: 99%;
}

.owl-one.owl-carousel .item {
    width: 85%;
}

.owl-one.owl-carousel .item:first-of-type{
    margin-left: 30px;
}

.owl-prev span,
.owl-next span{
    display: none;
}

.owl-prev::before,
.owl-next::before{
    font-family: "Font Awesome 5 Pro";
    font-weight: 600;
    font-size: 40px;
    color: #bab8b8;
}
   
.owl-prev::before{
    content: "\f053";
}

.owl-next::before{
    content: "\f054";
}

/*.owl-prev::before:hover,
.owl-next::before:hover{
     color: #67BFE4;
}*/